git+https://github.com/openai/CLIP.git
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

diffusers==0.26.3
transformers==4.39.3
accelerate==0.28.0
peft==0.10.0
huggingface_hub==0.20.3

xformers==0.0.22.post7
bitsandbytes==0.43.0

opencv-python
scikit-image
numpy
pillow
matplotlib
tqdm
pandas
optuna
scikit-learn

ftfy
einops
optuna